* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.container{
	max-width: 1180px;
	margin: 0 auto;
}

.clearfix{
	clear: both;
}

#logo {
	float: left;
}

#nav {
	float: right;
}

#nav.open {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	text-align: center;
	/*display: none;*/
	background-color: #ccc;
}

#nav.open ul {
	padding-top: 30%;
}

#nav.open li{
	float: none;
}


#nav ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;

}

#nav li {
	float: left;
	font-size: 20px;
	
}

#nav a {
	padding: 0 20px;
	text-decoration: none;
	color: purple
}


#menu-trigger {
	width: 30px;
	display: none;
	position: fixed;
	right: 10px;
}

img {
	width: 100%;
	margin: 0 auto;
}


.content, .sidebar {
	float: left;
	padding: 0 10px;
}


.content {
	width: 70%;
}

.sidebar{
	width: 30%;	
}

.col-4{
	float: left;
	width:33.33333333333333333333%;
	padding: 0 10px;
}











@media (max-width: 1000px) {
	.container{
		max-width: 760px;
	}
}


@media (max-width: 760px){  /*column drop功能*/
	.col-4 {
		width: 100%;
		padding: 10px;
	}

	.content, .sidebar {
		width: 100%;
	}
}

@media (max-width: 310px){ /*off canvas*/
	#nav {
		display: none;
	}

	#menu-trigger{
		display: block;
	}

	#nav.open{
		display: block;
	}
}
